body,p,div,h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	font-size: 16px;
	background-color: transparent;
	color: black;

	margin-bottom:	0px;
	margin-top:		0px;
	margin-left:	0px;
	margin-right:	0px;

	padding-top: 	0px;
	padding-bottom: 0px;
	padding-left:	0px;
	padding-right:	0px;
}


.flickrrow {
	text-align: center;
	background-color: #000000;
	width: 100%;
	padding: 5px 5px 5px 5px;
}

.flickrimg {
	text-align: center;
	background-color: #000000;
	
	padding: 12px 10px 5px 10px;
	float: left;
}

.flickrtitle {
	font-size: 1.2em;
	padding: 5px 0 0 2px;
	text-align: left;
	color: #fff;
}

.flickrcredit {
	font-size: 0.7em;
	text-align: left;
	color: #666;
}
.flickrcredit a {
	color: #666;
}


.flickrdesc {
	font-size: 0.75em;
	padding: 5px 15px 5px 5px;
	text-align: left;
	color: #fff;

}

a:active {
	color: #F00;
	background-color: transparent;
}

a:link, a:visited {
	color: #44d;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #f11;
	background-color: transparent;
	text-decoration: none;
}

